@import url('./fontawesome-all.css');
@import url('./../../node_modules/@majidh1/jalalidatepicker/dist/jalalidatepicker.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

.table-bordered th, .table-bordered td{
    @apply border border-black;
}
th{
    @apply text-xl font-bold py-2;
}
td{
    @apply text-lg font-semibold;
}

.swal2-popup{
    @apply dark:!bg-gray-900;
}

.swal2-popup *{
    @apply dark:!text-white;
}

.swal2-timer-progress-bar{
    @apply dark:bg-gray-500;
}

.swal2-popup.swal2-toast{
    @apply !ring-0
}

.swal2-title{
    @apply !mt-2;
}

tr.Absent{
    @apply bg-red-500  bg-opacity-40 dark:bg-red-800 dark:bg-opacity-40;
}

tr.Present{
    @apply bg-green-500  bg-opacity-40 dark:bg-green-800 dark:bg-opacity-40;
}

tr.Excused{
    @apply bg-yellow-500  bg-opacity-40 dark:bg-yellow-800 dark:bg-opacity-40;
}

button.is-active { background: black; color: white; }
.tiptap { padding: 0.5rem 1rem; margin: 1rem 0; border: 1px solid #ccc; }

.menu button{
    @apply p-2 border border-orange-400 rounded-md;
}

.show h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
.show h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
.show h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
.show h4 {
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
.show h5 {
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
.show h6 {
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
.show ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }
.show strong {
    font-weight: bold;
  }
.show p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
  }
.show pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
  }
.show code {
    font-family: monospace;
  }
.show ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }
.show blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
  }
  .show pre code{
    direction: ltr;
    background-color: #1e1e1e;
    color: #e1e1e1;
    border: 1px solid #333;
    padding: 10px;
    font-family: 'Courier New', monospace;
    line-height: 1.4;
    display: block;
  }
